# GroupBy & Aggregation

In [1]:
import numpy as np 
import pandas as pd

In [2]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Store': ['S1', 'S1', 'S2', 'S2', 'S1', 'S2', 'S2', 'S1'],
    'Sales': [100, 200, 150, 250, 120, 180, 200, 300],
    'Quantity': [10, 15, 12, 18, 8, 20, 15, 25],
    'Date': pd.date_range('2023-01-01', periods=8)
}
df = pd.DataFrame(data)

In [3]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

In [4]:
# Group by Catogery And calculate the sum of sales.
# here we create an object which is not visible.
ps = df.groupby('Category')

In [5]:
for i, v in ps:
    print(i)
    print(v)

A
  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
2        A    S2    150        12 2023-01-03
4        A    S1    120         8 2023-01-05
6        A    S2    200        15 2023-01-07
B
  Category Store  Sales  Quantity       Date
1        B    S1    200        15 2023-01-02
3        B    S2    250        18 2023-01-04
5        B    S2    180        20 2023-01-06
7        B    S1    300        25 2023-01-08

In [6]:
# we want groupby total sales
df.groupby('Category') ['Sales'].sum()

Category
A    570
B    930
Name: Sales, dtype: int64

In [7]:
# Group by store & calculate the sum of sales.
df.groupby('Store') ['Sales'].sum()

Store
S1    720
S2    780
Name: Sales, dtype: int64

### Group by Multiple Columns

Group by categogry and Store

In [8]:
df.groupby(['Category', 'Store']) ['Sales'].sum()

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       430
Name: Sales, dtype: int64

# Aggregation

In [ ]:
df['Sales'].mean()
# mean, median, min, max, count, std

np.float64(187.5)

In [ ]:
# If we want all Statistic we use '.agg()' function.
df['Sales'].agg(['mean', 'median', 'min', 'max'])

mean      187.5
median    190.0
min       100.0
max       300.0
Name: Sales, dtype: float64